extends layout
block content
  .container
    .quoteBox
      blockquote
        h1 No matter what, I always win or learn. I don't lose.
      .sigline
        h2 - Tru
    .enterTru
      a.button.btn.truBtn.btn-default(href='/home') Enter Site