include alerts
include mixins
doctype html
html
  //if lt IE 7
    html.no-js.lt-ie9.lt-ie8.lt-ie7(lang='')
  //if IE 7
    html.no-js.lt-ie9.lt-ie8(lang='')
  //if IE 8
    html.no-js.lt-ie9(lang='')
  // [if gt IE 8] <!
  //html.no-js(lang='')
    // <![endif]
  head
    block title
      title Tru Music
    meta(charset='utf-8')
    meta(name='author', content='Tru')
    meta(property='og:type', content='website')
    meta(property='og:url', content='https://www.tru4hunnid.com')
    meta(property='og:site_name', content='Tru Music')
    meta(property='og:title', content='Tru')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    block meta
      meta(name='Description', content='The home of Tru! Newest music, show dates, connect with Tru!')
      meta(name='Keywords', content='New Music,Tru,truent, tru music, rap, hip hop, new artist, artist on the rise')
    block css
      //make a favicon!!!
      link(rel='shortcut icon', href='../images/', type='image/x-icon')
      link(rel='stylesheet', type='text/css', href='//bowercdn.net/c/html5-boilerplate-4.3.0/css/normalize.css')
      link(rel='stylesheet', type='text/css', href='//bowercdn.net/c/html5-boilerplate-4.3.0/css/main.css')
      link(rel='stylesheet', type='text/css', href='//bowercdn.net/c/bootstrap-3.2.0/dist/css/bootstrap.min.css')
      link(rel='stylesheet', href='/css/font-awesome.min.css')
      link(rel='stylesheet', href='/css/layout.css', type='text/css')
      link(rel='stylesheet', href='/css/markup.css', type='text/css')
      link(href='https://fonts.googleapis.com/css?family=Lato:300,400,700', rel='stylesheet', type='text/css')
  body
    //main content
    block content
    //footer
    footer
      .container
        .pw-server-widget(data-id='wid-bhtjm0n8')
        .truLinks
          p
            | Copyright &copy; 2018
            a(href='/')  Tru / Bully Gang Entertainment
            a.btn.btn-default.btn-sm.truFt(href='/terms-of-service')  Terms of Service
            a.btn.btn-default.btn-sm.truFt(href='/privacy-policy')  Privacy Policy
  block js
    script(src='//bowercdn.net/c/jquery-1.11.3/dist/jquery.min.js')
    script(src='//bowercdn.net/c/bootstrap-3.2.0/dist/js/bootstrap.min.js')
    script(src='//bowercdn.net/c/moment-2.17.1/min/moment.min.js')
    script(src='/js/main.js')
    script(async, src='https://www.googletagmanager.com/gtag/js?id=UA-67843687-6')
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-67843687-6');

