mixin navbar()
  .navbar
    ul.nav.navbar-nav
      li.logo
        a(href='/home')
          span Tru
      li
        a(href='/music')
          span Music
      li
        a(href='/photos')
          span Photo
      //li
        a(href='/videos')
          span Videos
      li
        a(href='/news')
          span News
      //gonna need the url to replace this href
      li
        a(href='https://bully-gang-entertainment.myshopify.com', target='_blank')
          span Store
      li
        a(href='/shows')
          span  Shows
      //li
        //this is where the player will go
          //simple player, transparent background
      li.logo.pull-right
        a.fa.fa-facebook(href='https://www.facebook.com/Truu4hunnid/')

