extends layout
block title
  title Tru - Bully Gang Entertainment | News
append js
  script(src='/js/news.js')
block content
  +navbar()
  .container
    .heading48
      | Tru News
    each row in newsList
      .col-md-3
        .newsBox
          a.newsButton.open-News(data-toggle='modal', data-id=row.id)
            .title=row.title
            .date= moment(row.datePosted).format("dddd, MMMM Do YYYY")
  #newsModal.modal(tabindex='-1', role='dialog', aria-labelledby='newsModalLabel', aria-hidden='true')
    .modal-dialog.modal-lg
      .modal-content.truModal
        input.hidden#newsId(type='hidden', name='newsId')
        form.form-horizontal
          button.close(type='button', data-dismiss='modal', aria-hidden='true')
          .form-group.truArea
            textarea.truNewsTitle#newsTitle(name='title', disabled='true')
            .div
              textarea.truMessage#newsContent(name='content',rows='10', disabled='true')
            //.newsImage
              img.truImage(align='middle')#newsImage
            textarea.newsPosted#newsPostedDate
          .modal-footer(style='margin-bottom: -10px')
            button.btn.truFBtn(type='button',data-dismiss='modal') Close