extends layout
block title
  title Tru - Bully Gang Entertainment | Photos
append js
  script(src='/js/photo.js')
block content
  +navbar()
  .photoContainer
    div(style='margin-bottom: 25px;')
      .heading48
        | Tru Photos
      each pic in picList
        .photoBox
          img.truPhoto(src=pic, data-toggle='modal')
  #photoModal.modal(role='dialog', aria-labelledby='photoModalLabel', aria-hidden='true')
    .modal-dialog.modal-lg
      .modal-content.picModal
        .modal-body
          img.img-responsive(src='')
        .modal-footer
          button.btn.truPicBtn(type='button', data-dismiss='modal') Close