extends layout
append title
  title Terms of Service - StretchFS
block content
  div
    #termsOfService.container-full
      .container
        h1.heading48 Terms of Service
    #tosContent.container-full
      .container
        h4.heading24 Our Terms
        h2.heading36 Master Services Agreement
        .blueLine
        .row
          #paragraph0.col-xs-12.tosParagraph
            p
              | THIS MASTER SERVICES AGREEMENT ("Agreement") is made effective as of the Effective Date, by and between you ("Customer"), and NULLIVEX LLC and/or its Affiliates ("Host").
              br
              br
              |             WHEREAS, Host is engaged in the business of providing website hosting and other online delivery, maintenance, and support services.
              |             WHEREAS, Customer desires to obtain hosting for its website(s) and other online materials, and to provide visitors to such website(s) with reliable access to the materials contained therein.
              br
              |             WHEREAS, Customer desires to engage Host for the purpose of providing certain of the foregoing hosting services.
              br
              |             WHEREAS, Customer and Host desire to enter into this Agreement to set forth the general terms and conditions under which Host will provide Customer with services and Customer will purchase services from Host.
              br
              |             NOW, THEREFORE, in consideration of the mutual conditions and covenants set forth herein, and for other good and valuable consideration, the receipt and sufficiency of which are hereby acknowledged, the parties hereby agree as follows:
          .clearfix
          br
          #tosList.tosList
            ol
              li
                a(href='#paragraph1') Definitions
              li
                a(href='#paragraph2') Master Agreement
              li
                a(href='#paragraph3') Term and Termination
              li
                a(href='#paragraph4') Responsibilities of the Parties
              li
                a(href='#paragraph5') Restrictions
              li
                a(href='#paragraph6') Payments
              li
                a(href='#paragraph7') Disclaimer of Warranties
              li
                a(href='#paragraph8') Limitation of Liability
              li
                a(href='#paragraph9') Indemnification
              li
                a(href='#paragraph10') Force Majeure
              li
                a(href='#paragraph11') Intellectual Property Rights
              li
                a(href='#paragraph12') IP Address Ownership
              li
                a(href='#paragraph13') Confidental Information
              li
                a(href='#paragraph14') Non-Solicitation
              li
                a(href='#paragraph15') General Provisions
          #paragraph1.col-xs-12.tosParagraph
            h3.heading30 1. Definitions
            p
              | As used in this Agreement, the following terms have the following meanings:
              br
              br
              |               1.1. "Acceptable Use Policy" or "AUP" means Host's Acceptable Use Policy, which Customer agrees to adhere to, and is attached to this Agreement as Exhibit B and also online at http://www.vpls.net/aup/.
              br
              br
              |               1.2. "Affiliates" means any business entity in which NULLIVEX LLC has an ownership interest or an affiliation. As of the Effective Date, Affiliates include NULLIVEX LLC, and NULLIVEX LLC Technologies LLC.
              br
              br
              |               1.3. "Confidential Information" means all information disclosed by one of the parties to the other, whether before or after the Effective Date of the Agreement, that the recipient should reasonably understand to be confidential, including: (i) for Customer, all information transmitted to or from, or stored on, your Host servers or other devices, (ii) for Host, unpublished prices and other terms of service, audit and security reports, data center designs, and other proprietary technology, and (iii) for the both parties, information that is marked or otherwise conspicuously designated as confidential. Information that is developed by one of the parties on its own, without reference to the other's Confidential Information, or that becomes available to one of us other than through a violation of the Agreement or applicable law, shall not be "Confidential Information" of the other party.
              br
              br
              |               1.4. "Customer Content" means all data, text, pictures, sound, graphics, logos, marks, symbols, video, and other materials supplied by Customer to Host pursuant to this Agreement, as such materials may be modified from time to time.
              br
              br
              |               1.5. "Domain Name" means, collectively, the domain name or names specified for the Website by Customer from time to time, which are listed in the Service Orders.
              br
              br
              |               1.6. "Effective Date" means the date on which the Customer accepts the Agreement by clicking or checking the box presented with the Agreement, installing and/or using the Services.
              br
              br
              |               1.7. "Host Facility" means Host's Internet-based data center and network.
              br
              br
              |               1.8. "Services" means the website hosting and other online delivery, maintenance, and support services provided by Host to Customer hereunder, as described in Section 4.1 below.
              br
              br
              |               1.9. "Privacy Policy" means Host's separate policy regarding privacy, which is online at http://www.NULLIVEX.com/privacy-policy.
              br
              br
              |               1.10. "Service Order" shall mean orders for Services on Host's standard service order forms, quotes, invoices, and/or professional services engagement agreements. Each Service Order will contain specific provisions with respect to prices, features, description of service, duration and other terms as appropriate.
              br
              br
              |               1.11. "SLA" means the service level agreement attached hereto as Exhibit A.
              br
              br
              |               1.12. "Term" has the meaning ascribed to it in Section 3.1, below.
              br
              br
              |               1.13. "Website" means, collectively, all websites and content hosted by Host for Customer in the configuration and according to the terms contained in the Agreement and Service Orders.
          #paragraph2.col-xs-12.tosParagraph
            h3.heading30 2. Master Agreement
            p
              | The term and conditions contained in this Agreement shall be binding upon any Service Order together with any supplemental terms and conditions, including the SLA, Acceptable Use Policy, Privacy Policy, and any other exhibit to this Agreement.
          #paragraph3.col-xs-12.tosParagraph
            h3.heading30 3. Term and Termination
            p
              | 3.1. TERM. The term of this Agreement shall begin on the Effective Date and shall continue until the expiration of the last Service Order issued and accepted hereunder. Thereafter, this Agreement and the Service Order shall automatically renew on a month-to-month basis until Customer notifies Host in writing of its desire not to renew this Agreement at least 30 days prior to the expiration of the then-current term. The initial term and any and all renewal terms are referred to herein as the "Term."
              br
              br
              |              3.2. DEFAULT. If either party is in breach of this Agreement or any Service Order (other than for failure by Customer to pay any undisputed amounts, which is covered in Section 6.7), the non-breaching party shall give the breaching party thirty (30) calendar days' notice in writing of such breach. If the breach has not been cured to the non-breaching party's reasonable satisfaction without the thirty (30) day period, then the non-breaching party may terminate the applicable Service Order, without penalty, effective at the end of such thirty (30) day period immediately upon written notice to the breaching party. No termination for breach pursuant to this Section shall constitute or permit termination of any portions of this Agreement or any Service Order not breached or affected by such breach.
              br
              br
              |              3.3. EARLY TERMINATION. If Customer terminates or cancels service under any Service Order for reason other than Host's breach prior to such Service Order's agreed expiration date, Customer will pay Host (a) a termination fee that includes all non-recurring, disconnection or termination charges reasonably incurred by Host; and (b) the full amount of the remaining monthly charges due and payable within five (5) days after the effective date of termination of the Service Order.
              br
              br
              |              3.4. NO RETURN OF DATA. Upon the termination of this Agreement, Host will remove and erase the Customer Content. It is NOT Host's duty, responsibility, or contractual obligation to return the Customer Content to Customer before it is removed and erased from Host's equipment. It is Customer's sole responsibility to obtain copies of the Customer Content before such termination.
          #paragraph4.col-xs-12.tosParagraph
            h3.heading30 4. Responsibilities of the Parties
            p
              strong 4.1. RESPONSIBILITIES OF HOST
              br
              br
              |               (a)	Hosting. Host shall host the Website, including access thereto, and install and maintain the equipment by which the Website is being operated.
              br
              |               b)	Website and Server Back-Up. Website and server back-up is an optional service that Host may provide for Customer. Host may make incremental back-up and a complete back-up of the Website and server(s) if such services are purchased by Customer under a Service Order. Host may further maintain off-site backup copies of the Website and server(s) sufficient to ensure the continuous operation of the Website and server(s), if such service is purchased under a Service Order.
              br
              |               (c)	Host Facility. The Host Facility (including, but not limited to, the equipment used hereunder to perform the Services) shall be secured, operated, and maintained at all times by Host in accordance with the performance standards set forth in this Agreement and in the SLA. Host shall be solely responsible, at Host's expense, for acquiring, handling, maintaining, and executing any agreements for all equipment, third party services and third party software necessary to host the Website and perform all related services hereunder. Host shall configure and operate the Host Facility so that, on receipt of a communication from a Website user, the Website can respond to such Website user in the most efficient and expeditious manner, but in no event in less than the response time set out in the SLA.
              br
              |               (d)	Additional Services. Host will provide any other additional services as specified in the Service Order(s).
              br
              br
              strong 4.2. RESPONSIBILITIES OF CUSTOMER
              br
              br
              |               (a)	Content Upload. Subject to the Service Order(s), Customer shall be entitled to upload or electronically transmit Customer Content directly and indirectly (through Host's update services) to the Website. Host shall provide all support reasonably necessary to enable Customer to upload or electronically transmit Customer Content to, and/or otherwise implement modifications to Customer Content located on, the Website.
              br
              |               (b)	License Grant. Customer hereby grants to Host a worldwide, nonexclusive, nonsublicensable, nontransferable, royalty-free license during the Term to reproduce, distribute, publicly perform, publicly display, and digitally perform the Customer Content for the sole purpose of providing Services hereunder. Customer shall own and retain all right, title, and interest in and to the Customer Content (including, without limitation, any modifications thereto made by Host), and Host shall obtain no other right, title, or interest in the Customer Content except for the foregoing license. Any Customer Content or intellectual property developed by Customer during the performance of Services shall belong to Customer. Any data collected by Host (or Customer) during the performance of Services shall be owned by Customer.
              br
              |               (c)	Customer Covenant. During the Term of this Agreement, Customer shall not knowingly distribute on the Website any Customer Content that: (a) infringes on the intellectual property rights of any third party or any rights of publicity or privacy; (b) violates any law, statute, ordinance, or regulation; (c) is defamatory, trade libelous, unlawfully threatening, or unlawfully harassing; (d) is obscene, pornographic, or indecent; or (e) fails to adhere to Host's AUP.
          #paragraph5.col-xs-12.tosParagraph
            h3.heading30 5. Restrictions
            p
              | 5.1. WEBSITE. Customer shall have sole and final discretion over the form, functionality, substance, and appearance of the Website. Host shall not supplement, modify, or alter the Website, in whole or in part, without Customer's prior written consent (other than migration, modifications and maintenance of Customer Content to the Website under the relevant Service Order(s)).
              br
              br
              |               5.2. HYPERTEXT LINKS. Host shall not establish or initiate any hypertext links to or from the Website, and shall not allow any third party to establish or initiate any hypertext links to and/or from the Website, without Customer's prior written consent. Host shall immediately notify Customer if Host becomes aware of any such link or attempt to link to or from the Website.
              br
              br
              |               5.3. ACCESS TO FACILITY
              br
              |               (a)	Customer shall not have access to the Host Facility unless Customer obtains written consent from the Host's management.
              |               (b)	If Host's management agrees to provide access to the Host Facility to Customer by such written consent under Section 5.3(a), Customer must deliver to Host prior to accessing the Host Facility evidence that it carries a commercial general liability insurance policy in an amount of at least $1,000,000 single limit and $2,000,000 aggregate limit naming Host (and other parties designated by Host) as additional insureds.
              |               (c)	If Host's management agrees to provide access to the Host Facility to customer by such written consent under Section 5.3(a), Customer shall be required to comply with Host and any third-party landlord's rules and procedures with respect to entry into the Host Facility.
              br
              br
              |               5.4. RELOCATION OF EQUIPMENT. In the event that it becomes necessary to transfer or move the Host Facility, or to relocate the equipment used to provide Services to another physical hosting site, Customer hereby consents to any such transfer, move, or relocation that may occur during the Term. Host shall be solely responsible for any costs and expenses incurred in connection with any such transfer, move, or relocation. Host shall provide Customer two (2) weeks advance written notice of such relocation. For purposes of the SLA, such relocation shall be deemed Planned Downtime, as defined in the SLA.
              br
              br
              |               5.5. CONNECTIVITY. Customer agrees that connectivity shall not exceed the number of megabits per second per month for the Services ordered by Customer on any Service Order. If connectivity exceeds the agreed upon number of megabits per second per month, Host, in its sole discretion, may (i) assess additional standard charges (as provided in the Service Order), and if such charges are not paid within five (5) days after written notice, Customer shall be in default of this Agreement; or (ii) rate limit the amount of connectivity Customer can use up to the amount specified in the Service Order, and Host shall have all of its rights and remedies set forth in Section 3.2 above. In the event that Host elects to discontinue the Services or terminate this Agreement, Customer shall not be entitled to a refund of any fees paid in advance of such action. Host's failure to take any such action in a given month or months shall not constitute a waiver of Host's right to take any such action under this Section in a future month.
          #paragraph6.col-xs-12.tosParagraph
            h3.heading30 6. Payments
            p
              | 6.1. MONTHLY RECURRING CHARGES. Installation and all other non-recurring charges, and monthly recurring charges will be set at the rates set forth for the specific Service Order. Except for usage-based Services, which are billed in arrears, the Services are billed one (1) month in advance and the first billing cycle may include a partial month and full month of Services. All fees and charges are payable for the duration of the Term, regardless of whether Customer actually uses the Services.
              br
              br
              |               6.2. TAXES AND OTHER FEES. Prices established in this Agreement and the applicable Service Order are exclusive of taxes and other fees which may be imposed on Host or Customer for the provision or use of the Services. Customer will pay such taxes and other fees, except for Host's U.S. federal and state income tax.
              br
              br
              |               6.3. NON-RECURRING CHARGES. Non-recurring charges will be due from Customer upon signing of the applicable Service Order.
              br
              br
              |               6.4. TERMS OF PAYMENT. Monthly fees are due on the same day per month as the Effective Date. For example, if the effective date was May 15, then monthly fees are due the fifteen of each month. Charges for non-recurring services are due and payable upon receipt of an invoice by Customer. All payments shall be made in U.S. currency without any deduction or offset except as specifically provided in writing by Host.
              br
              br
              |               6.5. SERVICE CHARGE. If Customer does not pay the amount due the fifth (5th) day of the month (or for non-recurring charges, within ten (10) days following receipt of the Service Order), Customer will pay a late payment charge equal to ten percent (10%) of the amount due plus interest at the rate of one and one half percent (1.5%) per month or such other rate or rates as may be permitted under applicable law.
              br
              br
              |               6.6. DISPUTED PAYMENTS. In the event Customer in good faith disputes any of Host's charges, Customer shall (a) promptly pay all undisputed and disputed charges and (b) notify Host in writing of any such disputed amounts within thirty (30) days from when payment was due, identifying in reasonable detail its reasons for the dispute and the nature and amount of the dispute. All amounts not timely and appropriately disputed shall be deemed final and not subject to further dispute. Host will review the amounts in dispute within (10) business days after receipt of notice of dispute. If Host determines that Customer was charged or billed in error, a credit for the amount in charged or billed incorrectly will be made to Customer's next payment.
              br
              br
              |               6.7. SUSPENSION OR TERMINATION OF SERVICES. If payment in full for Services performed under any Service Order (other than for payments validly disputed by Customer in good faith) is not received on its due date, Host shall have the right to suspend Services until such time as Customer has paid such charges in full, including any late fees. Host shall give Customer written notice of its right to suspend Services and provide Customer seven (7) day advance notice from delivery before such suspension. Following such payment, Host shall immediately reinstate the Services. Failure by Customer to pay for such Services within seven (7) days after any suspension shall be deemed to constitute a termination of the Services. At such termination, all remaining payments to Host under the relevant Service Order shall be due immediately. No cancellation or termination under this Section shall relieve Customer from its obligations to pay for Services under any Service Order not so cancelled or terminated.
          #paragraph7.col-xs-12.tosParagraph
            h3.heading30 7. Disclaimer of Warranties
            p
              | 7.1.	CUSTOMER ASSUMES TOTAL RESPONSIBILITY AND RISK FOR CUSTOMER'S USE AND ITS END USERS' USE OF SERVICES PROVIDED BY HOST. CUSTOMER ACKNOWLEDGES THAT THE INTERNET (1) CONTAINS MATERIALS SOME OF WHICH ARE SEXUALLY EXPLICIENT OR MAY BE OFFENSIVE TO SOME PEOPLE AND (2) IS ACCESSIBLE BY PERSONS WHO MAY ATTEMPT TO BREACH THE SECURITY OF HOST AND/OR CUSTOMER'S NETWORK FACILITIES. HOST HAS NO CONTROL OVER AND EXPRESSLY DISCLAIMS ANY LIABILITY OR RESPONSIBILITY WHATSOEVER FOR THE CONTENT OR MATERIALS TRANSMITTED OVER THE INTERNET, SERVICE INTERRUPTIONS ATTRIBUTABLE TO CUSTOMER'S NETWORK, AND CUSTOMER EQUIPMENT FAILURES, OR ANY OTHER SUCH CAUSES, AND CUSTOMER AND CUSTOMER'S END USERS ACCESS THE SERVICES AT THEIR OWN RISK.
              br
              br
              |               7.2.	EXCEPT AS EXPRESSLY PROVIDED IN HOST'S SLA, ALL SERVICES ARE FURNISHED BY HOST AND ACCEPTED BY CUSTOMER "AS IS," "WITH ALL FAULTS," AND WITHOUT ANY WARRANTY WHATSOEVER. ALL OTHER WARRANTIES, EXPRESS OR IMPLIED, INCLUDING ANY WARRANTIES OF TITLE, NONINFRINGEMENT, MERCHANTABILITY, OR FITNESS FOR ANY PARTICULAR PURPOSE, ARE SPECIFICALLY EXCLUDED AND DISCLAIMED BY HOST. HOST DOES NOT WARRANT THAT ANY PRODUCT OR SERVICE WILL MEET CUSTOMER'S REQUIREMENTS OR THAT IT WILL BE UNINTERRUPTED OR ERROR FREE. NO ADVICE OR INFORMATION GIVEN BY HOST, ITS AFFILIATES, ITS CONTRACTORS, ITS AGENTS, OR THEIR RESPECTIVE EMPLOYEES SHALL CREATE A WARRANTY OF ANY TYPE OR NATURE.
          #paragraph8.col-xs-12.tosParagraph
            h3.heading30 8. Limitation of Liability
            p
              | 8.1.	IN NO EVENT WILL HOST BE LIABLE TO CUSTOMER OR ANY OTHER PERSON FOR ANY LOST PROFITS, LOST SAVINGS, LOST DATA, OR SPECIAL, CONSEQUENTIAL, PUNITIVE OR INCIDENTAL DAMAGES, WHETHER ARISING OUT OF OR RELATING TO THIS AGREEMENT OR ANY PRODUCT OR SERVICE FURNISHED OR TO BE FURNISHED UNDER THIS AGREEMENT OR OTHERWISE, EVEN IF HOST HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH LOSS OR DAMAGE. NOTWITHSTANDING ANYTHING IN THE AGREEMENT TO THE CONTRARY, THE MAXIMUM AGGREGATE MONETARY LIABILITY OF HOST AND ANY OF ITS EMPLOYEES, AGENT, SUPPLIERS, OR AFFILIATES, UNDER ANY THEORY OF LAW (INCLUDING BREACH OF CONTRACT, TORT, STRICT LIABILITY, AND INFRINGEMENT) SHALL NOT EXCEED AN AMOUNT EQUAL TO THE SUM OF THE PAYMENTS MADE BY CUSTOMER TO HOST DURING THE SIX (6) MONTHS IMMEDIATELY PRECEDING THE EVENT FOR WHICH LOSSES OR DAMAGES ARE CLAIMED.
              br
              br
              |               8.2.	THIRD PARTY PRODUCTS AND SERVICES. Without limiting the foregoing Section 8.1, Host will have no responsibility for the adequacy or performance of (i) any third party software provided to Host under this Agreement; (ii) any hardware; and (iii) any services provided by any third party.
              br
              br
              |               8.3.	DATA CONTROL AND RESPONSIBILITY. Customer is responsible for its Customer Content. Customer is responsible for maintaining its own procedures for the reconstruction of lost or altered files, backup or saving data or programs to the extent deemed necessary by Customer and for actually reconstructing any lost or altered files, data or programs. Host assumes no responsibility for the protection of Customer's data. Host is not liable for damage to software or data caused by the Services. Customer agrees that it shall have the sole responsibility for safeguarding the software and data. Host is not liable for software damage due to any outside factor, i.e., software virus.
          #paragraph9.col-xs-12.tosParagraph
            h3.heading30 9. Indemnification
            p
              | 9.1.	Customer shall defend Host against any third party claim, action, suit, or proceeding alleging facts that (if true) would constitute a breach of any covenant contained in Section 4.2(c), and Customer shall indemnify Host for all losses, damages, liabilities, costs, and expenses (including without limitation, reasonable attorney fees) incurred by Host as a result of a final judgment entered against Host in any such claim, action, suit, or proceeding.
              br
              br
              |               9.2.	HOST INDEMNITY. Host will defend and indemnify Customer, its employees, directors, officers and agents, from and against any suit, proceeding or other claim brought by an entity (not a party to or an affiliate of a party to this Agreement) that is caused by, arises from, or relates to damage to real or tangible personal property or personal injuries (including death) arising out of the gross negligence or willful act or omission of Host in the provision of Services.
              br
              br
              |               9.3.	INDEMNITY PROCEDURE. An indemnifying party's obligations under this Section 9 are conditioned on the indemnified party: (a) giving the indemnifying party prompt written notice of any claim, action, suit, or proceeding for which the indemnified party is seeking indemnity under Section 9.1 or 9.2; (b) granting control of the defense and settlement to the indemnifying party; and (c) reasonably cooperating with the indemnifying party at the indemnifying party's expense.
          #paragraph10.col-xs-12.tosParagraph
            h3.heading30 10. Force Majeure
            p
              | In no event shall either party have any claim or right against the other arty for any failure of performance (except for Host's right to seek payment of all accrued charges) due to causes beyond that party's reasonable control, including, but not limited to: acts of God, fire, explosion, vandalism, fiber optic cable cut, storm, flood or other similar catastrophes; any law, order, regulation, direction, action or request of the United States Government, or of any other government, including state and local governments having or claiming jurisdiction over either of the parties or of any department, agency, commission, court, bureau, corporation, or other instrumentality of any one or more said governments, or of any civil or military authority; national emergencies; unavailability of materials or rights-of-way; insurrections; acts of terrorism; riots; wars; strikes; lock-outs, work stoppages or other labor difficulties; or supplier failures, shortages, breaches or delays.
          #paragraph11.col-xs-12.tosParagraph
            h3.heading30 11. Intellectual Property Rights
            p
              | Subject to the license granted to Host in Section 4.2(b), neither party shall use any copyrights, patents, trade secrets, trademarks, trade names, service marks, license rights or other intellectual property rights (collectively "Intellectual Property") owned, licensed or used by the other party. Upon the expiration or termination of this Agreement or any applicable Service Order, any Intellectual Property, including any copies thereof, shall be returned to the other party. Each party hereby disclaims any right, title and interest in any Intellectual Property owned, used, or licenses by the other party.
          #paragraph12.col-xs-12.tosParagraph
            h3.heading30 12. IP Address Ownership
            p
              | Host shall maintain and control ownership of all IP numbers and addresses that may be assigned to Customer by Host. Host reserves, in its sole discretion, the right to change or remove any and all such IP numbers and addresses upon five (5) days prior written notice to Customer.
          #paragraph13.col-xs-12.tosParagraph
            h3.heading30 13. Confidental Information
            p
              | The parties agree not to use the other's Confidential Information except in connection with the performance or use of the Services, as applicable, the exercise of the parties' respective legal rights under the Agreement, or as may be required by law. Each of us agrees not to disclose the other's Confidential Information to any third person except as follows: (i) to our respective service providers, agents and representatives, provided that such service providers, agents or representatives agree to confidentiality measures that are at least as stringent as those stated in this Agreement; (ii) to law enforcement or government agency if requested, or if either of us reasonably believes that the other's conduct may violate applicable criminal law; (iii) as required by law; or (iv) in response to a subpoena or other compulsory legal process, provided that each of us agrees to give the other written notice of at least seven (7) days prior to disclosing Confidential Information under this subsection (or prompt notice in advance of disclosure, if seven days advance notice is not reasonably feasible), unless the law forbids such notice.
          #paragraph14.col-xs-12.tosParagraph
            h3.heading30 14. Non-Solicitation
            p
              | During the Term and for twelve (12) months thereafter, Customer agrees that Customer, either on Customer's own behalf or in conjunction with any third party, will not directly or indirectly solicit Host's employees, independent contractors or agents for employment, consulting or other services for either Customer or any third party without the prior written consent of Host.
          #paragraph15.col-xs-12.tosParagraph
            h3.heading30 15. General Provisions
            p
              | 15.1.	FUTHER ASSURANCES. Each party shall execute all documents and exhibits and perform all acts deemed required by this Agreement.
              br
              br
              |               15.2.	COMPLETE AGREEMENT. This Agreement and its exhibits constitute the complete and exclusive statement of the agreement among the parties with respect to the matters discussed herein and therein and they supersede all prior written or oral statements among the parties, including any prior statement, warranty, or representation.
              br
              br
              |               15.3.	GOVERNING LAW. This Agreement shall be governed and construed in accordance with the laws of the State of California, without reference to rules regarding conflicts of laws.
              br
              br
              |               15.4.	COMPLIANCE WITH LAWS. Each party shall comply with all applicable laws and regulations in the course of performing under this Agreement.
              br
              br
              |               15.5.	SEVERABILITY. If any provision of this Agreement is determined by any court of competent jurisdiction to be invalid or unenforceable, such provision shall be interpreted to the maximum extent to which it is valid and enforceable, all as determined by such court in such action, and the remaining provisions of this Agreement shall, nevertheless, continue in full force and effect without being impaired or invalidated in any way.
              br
              br
              |               15.6.	HEADINGS. Headings used in this Agreement are for reference purposes only and in no way define, limit, construe, or describe the scope or extent of such section or in any way affect this Agreement.
              br
              br
              |               15.7.	SURVIVAL. The parties' respective representations and covenants, together with obligations of indemnification, confidentiality and limitations on liability will survive the expiration, termination or rescission of this Agreement and continue in full force and effect.
              br
              br
              |               15.8.	INTERPRETATION. All pronouns and common nouns shall be deemed to refer to the masculine, feminine, neuter, singular, and plural, as the context may require. In the event that any claim is made by any party relating to the drafting and interpretation of this Agreement, no presumption, inference, or burden of proof or persuasion shall be created or implied solely by virtue of the fact that this Agreement was drafted by or at the behest of a particular party or its counsel.
              br
              br
              |               15.9.	MEDIATION AND ARBITRATION
              br
              br
              |               (a)	Mediation. The parties shall mediate any dispute or claim between them arising out of this Agreement. The mediation shall be held prior to any court action or arbitration. The mediation shall be confidential and in accordance with applicable sections of the California Evidence Code. In the event the parties are not able to agree on a mediator within thirty (30) days of the first party seeking mediation, the presiding judge of the Superior Court of the county in which venue would lie for the filing of a complaint for relief in such dispute shall have jurisdiction to appoint a mediator. In the event the mediator determines that a second mediation is necessary, it shall be conducted in accordance with this paragraph. Should either party attempt an arbitration or a court action before attempting to mediate, that party shall not be entitled to recover attorney fees that might be otherwise available to it in a court action or arbitration and the party who is determined by the arbitrator or judge to have resisted mediation may be sanctioned by the arbitrator or judge. Mediation fees, if any, shall be divided equally between the parties. Any such mediation shall occur in Orange County, California.
              br
              |               (b)	Arbitration. In the event of any claim, dispute or controversy arising out of or relating to the interpretation, performance and/or breach of this Agreement (except for claims for injunctive relief), the parties agree that any claim, dispute and/or controversy which would otherwise require or allow resort to any court or other governmental dispute resolution forum between the parties whether based on tort, contract, statutory or equitable law, or otherwise, shall be submitted to and determined exclusively by binding arbitration under the Federal Arbitration Act, in conformity with the procedures of the California Arbitration Act. (Cal. Code Civ. Proc. ? 1280 et. seq., including Section 1283.05 and all of the Acts, other mandatory and permissive rights to discovery). However, in addition to requirements imposed by law, any arbitrator herein shall be a retired California Superior Court judge and shall be subject to disqualification on the same grounds as would apply to a judge of such court. Such arbitration shall occur in Orange County, California. To the extent applicable in civil actions in California courts, the following shall apply and be observed:
              br
              br
              |               (i)	all rules of pleading (including the right of demurrer);
              |               (ii)	all rules of evidence; and
              |               (iii)	All rights to resolution of the dispute by means of motions for summary judgment, judgment on the pleadings, and judgment under Code of Civil Procedure Section 631.8.
              br
              br
              |               Resolution of the dispute shall be based solely upon the law governing the claims and defenses pleaded, and the arbitrator may not invoke any basis (including but not limited to notions of "just cause") other than such controlling law. All communications during or in connection with the arbitration proceedings are privileged in accordance with California Civil Code Section 47(b). Awards shall include the arbitrator's written reasoned opinion.
              br
              br
              |               15.10.	JURISDICTION AND VENUE. In the event that Section 15.9 is unenforceable, the parties agrees to submit to the jurisdiction of the federal and state courts of the State of California in the County of Orange in any action arising out of a dispute under or in connection with this Agreement or any transaction contemplated by this Agreement. Each party further agrees that personal jurisdiction may be effected upon him, her, or it by service of process by registered or certified mail addressed as provided in the Service Order(s) attached hereto, and that when service is so made, it shall be as if personal service was effected within the State of California.
              br
              br
              |               15.11.	ASSIGNMENT AND SUBCONTRACTING. This Agreement shall be binding upon and inure to the benefit of Customer, Host, and their respective successors, and assigns (subject to the following). Customer may not assign, license, sublicense or otherwise transfer this Agreement without the prior written consent of Host, which consent may be withheld in Host's sole discretion, provided that Customer shall have the right to assign this Agreement to a successor to Customer by merger or consolidation or to an entity that purchases the assets or ownership interests of Customer.
              br
              br
              |               15.12.	INDEPENDENT CONTRACTORS. The parties to this Agreement are independent contractors, and no agency, partnership, joint venture, or employee-employer relationship is intended or created by this Agreement. Neither party shall have the power to obligate or bind the other party.
              br
              br
              |               15.13.	TIME IS OF THE ESSENCE. Time is of the essence with respect to the performance of all obligations to be performed or observed by the parties under this Agreement.
              br
              br
              |               15.14.	NOTICE. Except where provided otherwise, notices hereunder shall be in writing and shall be deemed to have been fully given and received when delivered by hand, sent by nationally recognized overnight courier, or sent by registered or certified mail, return receipt requested, postage prepaid, and properly addressed to the offices of the respective parties at the addresses set forth by the parties' signatures. The notices shall be served to the addresses of the parties of listed on the applicable Service Order.
              br
              br
              |               15.15.	CONSENT TO ELECTRONIC DELIVERY. Customer agrees to receive and/or obtain any and all Service Orders, billing statements and other notifications from Host via electronic communications. Customer acknowledges that, for Customer's records, Customer is able to use Host's online services (such as https://my.vpls.net, https://manage.NULLIVEX.com, https://my.hidefservers.com, and https://my.vplssolutions.com) to retain electronic communications by printing and/or downloading and saving this Agreement and any other agreements and electronic communications, documents or records that Customer agrees to using an E-signature. Customer accepts electronic communications from Host as reasonable and proper notice, for the purpose of any and all laws, rules and regulations, and agree that such electronic form fully satisfies any requirement that such communications be provided to you in writing or in a form that you may keep.
              br
              br
              |               15.16.	CHANGES TO THE AGREEMENT. Host may modify the terms and conditions of this Agreement. Pursuant to Section 15.15, Host will notify its Customers through electronic communications of any such modifications. All modifications shall be effective upon their publication on Host's website. It is the Customer's responsibility to review Host's online services for such modifications on a frequent basis. If Customer continues to use the Services following any such modification, such use will be deemed acceptance of such modification by Customer. Any modifications requested by Customer to any of the terms of the Agreement must be approved in writing by Host.
              br
              br
              |               15.17.	WAIVER. This Agreement may only be amended by a written instrument signed by each of the parties. A waiver of any right under any provision of this Agreement by either party hereunder shall be valid only if such waiver is in writing and signed by the party to be charged. No waiver of any right under any provision of this Agreement on any occasion shall be a waiver of any other right or under any other provision or on any other occasion. No extension of time for performance of any obligation or act shall be deemed an extension of the time for performance of any other obligation or act.
              br
              br
              |               15.18.	COUNTERPARTS / PDF SIGNATURES. This Agreement may be executed in counterparts, each of which shall be deemed an original and all of which shall, when taken together, constitute a single document. The parties agree that they may rely on the facsimile or electronic signature of any party with respect to this Agreement or any waiver, amendment, supplement or consent relating thereto, with the same effect as if such signature was an original.
              br
              br
              |               15.19.	ELECTRONIC SIGNATURE. The parties also agree that this Agreement may be executed by electronic signature. By selecting the "Sign Contract" button, Customer is signing this Agreement electronically. Customer agrees that his, her or its signature is the legal equivalent of Customer's manual signature on this Agreement. By selecting the "Sign Contract" button, Customer consents to be legally bound by this Agreement. Customer also agrees that no certification authority or other third party verification is needed to validate your E-signature and that the lack of such certification or third party verification will not in any way affect the enforceability of your E-signature or any resulting contract between Customer and Host. The person who selects the "Sign Contract" button also represents that he or she is authorized to sign on behalf of Customer to enter into this Agreement.
              br
              br
            p
              em Last Updated August 17th, 2015
    a.arrow(href='#paragraph0')
